.homePage {
  padding: 0px 50px;

  display: grid;
  grid-template-columns: repeat(2, minmax(540px, 800px));
  grid-gap: 134px;
  grid-template-areas:
    "infoPart cart";

  .infoPart {
    grid-area: infoPart;
  }

  .cart {
    grid-area: cart;

    padding-top: 126px;
    width: 100%;
  }
}

// @media (max-width: 390px) {
//   .homePage {
//     padding: 20px;

//     display: flex;
//     flex-direction: column;
//     grid-gap: 0px;

//     .infoPart {
//       min-height: 450px;
//     }

//     .cart {
//       padding: 0;
//     }

//   }
// }