%buttonModules {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 14px;
}

%btnPreviousModules {
  width: 100px;
  height: 46px;
}

%btnNextModules {
  width: 174px;
  height: 46px;
  background-color: #f67599;
  color: white;
  border-radius: 7px;
}

.btnModules {
  position: relative;

  .computerBtn {
    position: relative;

    button {
      @extend %buttonModules;
    }

    .btnPrevious {
      @extend %btnPreviousModules
    }

    .btnNext {
      @extend %btnNextModules;

      position: absolute;
      right: 0px;
    }
  }

  .mobileBtn {
    display: none;
    min-width: 390px;

    button {
      @extend %buttonModules;
    }

    .btnPrevious {
      @extend %btnPreviousModules;

    }

    .btnNext {
      @extend %btnNextModules;
    }
  }

  .mobileStepOneBtn {
    display: none;
    min-width: 390px;

    button {
      @extend %buttonModules;
    }

    .btnNext {
      @extend %btnNextModules;
    }
  }
}

@media (max-width: 490px) {
  .btnModules {
    .computerBtn {
      display: none;
    }

    .mobileBtn {
      position: absolute;
      bottom: -800px;
      width: 100%;

      display: flex;
      justify-content: space-between;
      margin-top: 800px;

      .btnNext {
        width: 156px;
      }
    }

    .mobileStepOneBtn {
      position: absolute;
      bottom: -800px;

      display: block;
      width: 100%;

      .btnNext {
        width: 100%;
        min-width: 390px;
      }
    }
  }
}
