.stepThreeInfoPaart {
  .title {
    margin-bottom: 24px;

    font-size: 24px;
    font-weight: 700;
  }

  .userInfo {
    min-width: 540px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, auto-fit));
    grid-gap: 30px;

    grid-template-areas:
      "real-name real-name real-name ."
      "cardNumber cardNumber cardNumber ."
      "cardDeadLine  cardDeadLine cardCvc cardCvc";

    .userName {
      grid-area: real-name;
    }

    .cardNumber {
      grid-area: cardNumber;
    }

    .cardDeadLine {
      grid-area: cardDeadLine;
    }

    .cardCvc {
      grid-area: cardCvc;
    }

    
  }
  .footerLine {
      height: 1px;
      background-color: #E5E5E5;
      margin-top: 48px;
    }

    .buttonGroup {
      margin-top: 24px;
    }
}
