.stepTwoInfoPaart {
  .title {
    margin-bottom: 24px;

    font-size: 24px;
    font-weight: 700;
  }

  .shipMethod {
    min-width: 540px;
    height: 300px;
  }
  .footerLine {
    height: 1px;
    background-color: #e5e5e5;
    margin-top: 48px;
  }

  .buttonGroup {
    margin-top: 24px;
  }
}

// @media (max-width: 390px) {
//   .stepTwoInfoPaart {
//     width: 100%;
//     height: 600px;
//     position: relative; 

//     .shipMethod {
//       min-width: 350px;
//     }

//     .footerLine {
//       display: none;
//     }

//     .buttonGroup {
//       position: absolute;
//       bottom: -550px;
//       left: 200px;
//     }
//   }
// }
